@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para el nav */
.nav-link {
    transition: transform 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
    border: 1px solid transparent;
}

.nav-link:hover {
    border-color: rgb(255, 255, 255);
    color: #104486;
}

@media (min-width: 992px) {
    .nav-link:hover {
        transform: scale(1.1);
    }
}

@media (max-width: 991px) {
    .navbar-nav {
        align-items: center;
    }
}
.btn-donar {
    color: #104486;
    font-weight: bold;
}

.misDonaciones{
    display: inline-flex;
    width: 150px;
    margin: 0 50px;
    background-color: aquamarine;

}










/*Estilos para quienes somos */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.titulo-quienes-somos {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.quienes-somos {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 20px 0;
}

.quienes-somos img {
    height: 650px;
    border-radius: 8px;
    margin: 10px;
}

.quienes-somos p {
    flex: 1;
    line-height: 1.6;
}
/*Estilo para la iamgen del header*/
header {
    width: 100%;
    height: 500px; 
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;   
    align-items: flex-start; 
    padding-top: 0px;         
}
header div{ 
    background-image: url(../img/Manos.jpg);
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
}

header h3 {
    text-align: center;
  color: white;
  font-size: 2rem;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7); /* para que se lea sobre la imagen */
}

/* FOOTER */

footer, nav {
    background-color: #104486;
}